body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("http://localhost/Agriculture360/farmer/img/banner-bg.jpg");

    height: 100%;
	background-size: cover;
	background-position: center;
}

.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}
.form1{
	position: relative;
	z-index: 1;
	background: rgba(200, 255, 255, 0.5);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.form1 input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px
	box-sizing:border-box;
	font-size: 14px;
}
.form1 button{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	padding: 15px;
	cursor: pointer;
}

.form1 button:hover,.form button:active{
	background: #43A047;
}
.form1 .message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 12px;

}
 .form1 .message {
 	color: red;
 	text-decoration: none;
 }

 .form1 .register-form{
 	display: none;
 }
